{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <br><br>
        <div class="masthead-subheading">Welcome to out Budget website!</div>
        <div class="masthead-heading text-uppercase">Here you can insert your transactional history to be able to track spending and organize by category</div>
        <a href="{% url 'display' %}" class = "button">Create Budget</a>
        <br><br>
    </div>
</header>
{% endblock %}




